



*{
    padding: 0px;
    margin: 0px;
}

:root {
    --laranja: #F3901E;
    --marrom: #1C080B;
    --rosa: #E764A1;
}

@font-face {
    font-family: 'Segoe Script Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe Script Regular'), url('Segoe Script.woff') format('woff');
    }
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

header{
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100px;
    max-height: 300px;
    background-color: var(--laranja);
    color: white;
    background-image: url(../imagens/pexels-sharon-mccutcheon-1191639.jpg);
    background-size: cover;
    background-position: center center;
}

.header-mcdonuts{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    font-family: 'Segoe Script Regular';
    background-color: rgba(0, 0, 0, 0.185);
    width: 100%;
    height: 100%;
}

.header-mcdonuts > img{
    width: 100px;
    max-height: 200px;
}

nav{
    min-width: 100%;
    min-height: 20px;
    background-color: var(--laranja);
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav > a{
    padding: 7px 9px 7px 9px;
    text-decoration: none;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

main{
    height: 2000px;
    background-color: rgb(26, 7, 9);
}

.img-donut1{
    width: 100%;
    height: 400px;
    background-image: url(../imagens/donuts.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

hr{
    border-style: solid;
    width: 50%;
    margin: 0 auto;
}

@media (max-width:375px){
    hr{
        width: 99%;
    }

    .hr-footer{
        width: 50%;
    }
}

footer{
    width: 100%;
    min-height: 300px;
    max-height: 500px;
    background-image: linear-gradient(to top, #F3901E, #1C080B);
    /*background-color: var(--laranja);*/
    color: white;
}

.div-footer{
    display: flex;
    align-items: center;
    width: 100%;
    height: 300px;
}

.div-footer-esquerdo{
    width: 49vw;
    height: 300px;
}

.div-footer-meio{
    width: 0.1px;
    height: 240px;
    border: 1px solid white;
}

.div-footer-direito{
    width: 49vw;
    height: 300px;
}