



:root {
    --laranja: #F3901E;
    --marrom: #1C080B;
    --rosa: #E764A1;
}

header{
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100px;
    max-height: 300px;
    background-color: var(--laranja);
    color: white;
    background-image: url(../imagens/pexels-sharon-mccutcheon-1191639.jpg);
    background-size: cover;
    background-position: center center;
}

.a-contatos{
    background-color: #1C080B;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.nav > a:hover{
    color: var(--laranja);
    background-color: var(--marrom);
    transition: .3s;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

@media (max-width: 375px){
    .nav > a:not(.a-paginaprincipal){
        padding: 17px 9px 17px 9px;
        border-top-left-radius: 13px;
        border-top-right-radius: 13px;
    }

    .a-paginaprincipal:hover{
        padding-top: 8px;
    }
}